#brumas {
    color: rgb(180, 179, 86);
    font-size: 25px;
}

#aroma {
    color: rgb(180, 179, 86);
    font-size: 25px;

}

tr {
    color: rgb(214, 213, 133);
    font-size: 15px;
    text-align: center;


}

#velas {
    color: rgb(180, 179, 86);
    font-size: 25px;
}